.homepage {
  text-align: center;
  embed {
    width: 600px;
    max-width: 95%;
  }
  .hero__subtitle {
    padding-left: 20px;
    font-size: 3rem;
    font-weight: 200;
  }
  .magicians {
    font-weight: 300;
  }

  .backed-by-cult {
    display: inline-block;
    margin-top: 24px;
    font-size: 1.3em;
    border: 4px solid $contrastColor;
    padding: 16px;
  }
}

.feature-element {
  text-align: center;
  .feature-header {
    background: #fff;
    border-color: red;
    border-radius: $radius;
    border: 7px solid red;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: $contrastColor;
    padding: 16px;
  }
  .feature-description {
    // background: red;
    // color: #fff;
    border-radius: $radius;
    border: 7px solid red;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 16px;
  }
  .icon {
    color: $contrastColor;
    font-size: 3.2rem;
    // background: red;
  }
}
.feature-element .feature-element .icon:hover {
  color: var(--ifm-color-primary);
}

.explained-container {
  text-align: center;
  padding: 60px 0;
  border-top: 16px solid red;

  h1 {
    margin-bottom: 25px;
  }

  .tabs {
    max-width: 800px;
    margin: 0 auto;
    align-items: center;

    justify-content: center;
  }

  div[role="tabpanel"] {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
  }
}

.newsletter-container {
  padding: 60px 30px;
  text-align: center;
  border-top: 6px solid red;
}

.newsletter-container .signup-button {
  margin-top: 20px;
}

.newsletter-container .pinky {
  font-weight: bold;
}

.newsletter-container .no-spam {
  color: #666;
}

.just-go {
  text-align: center;
  padding: 60px 30px;
  text-align: center;
  .start-code {
    text-align: left;
    margin: 0 auto;
    width: 400px;
    max-width: 95%;
    background: #000;
    color: #fff;
    padding: 25px;
    border-radius: $radius;
  }
}

.comparison-with-others {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  h1 {
    margin-bottom: 32px;
  }
  table {
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
  }
  thead {
    td:nth-child(2) {
      width: 150px;
      font-weight: bold;
    }
  }

  .feature-yes {
    color: rgb(45, 194, 45);
    font-size: 24px;
  }
  .feature-no {
    color: pink;
    font-size: 24px;
  }
}
